{% extends "base.html" %}
{%block head%}
{{ super() }}
<style>
p {
  font-size: 32px;
}

.btn {
  border-radius: 20px ;
  font-size: 20px;
}
.container{
  margin: 50px ;
}
</style>
{% endblock %}
{% block title %}
Error 500
{% endblock %}
{% block content %}
<body background="/static/images/404bac.jpg">
  <div class="container" >
    <p>ERROR: 500</p>
    <p>Internal server error</p>
    <br/>
    <a class="btn btn-primary btn-md" href="/login"> <span class="glyphicon glyphicon-circle-arrow-left"></span>  Go back to the main page </a>
  </div>



  {% endblock %}