{% extends "base.html" %}
{%block head%}
{{ super() }}
<style>
#status-box {
  height: 100px;
  text-align: center;
  visibility: hidden;
}

h4 {
  border:0 solid #fff;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: center;
}

.form-control {
  border-radius: 10px;
}

.wrapper {
  text-align: center;
}

.form-changepassword {
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
}

.btn{
  border-radius: 20px ;
}


</style>
{% endblock %}
{% block title %}
Todo List App
{% endblock %}
{% block content %}

{% include "navbar.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-3" id="status-box">
      alert box
    </div>
    <div class="col-md-offset-4 col-md-3">
      <div class="form-changepassword">
        <h4>Change Password</h4>
        <form method="POST" action="/changepassword" name="changepasswordForm" id="changepasswordForm">
          <input type="password" name="password" id="password" class="form-control input-sm chat-input" required="required" placeholder="current password" />
          <br/>
          <input type="password" name="newpassword" id="newpassword" class="form-control input-sm chat-input" required="required" placeholder="new password" />
          <br/>
          <input type="password" name="repeatnewpassword" id="repeatnewpassword" class="form-control input-sm chat-input" required="required" placeholder="repeat new password" />
          <br/>
          <div class="wrapper">
            <span class="group-btn">
              <a class="btn btn-primary btn-md" href="/todolist" style="margin-right: 15px">back</a>
              <button type="submit" class="btn btn-primary btn-md">Change</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block jsfiles %}
{{ super() }}
<script src="/static/js/custom.js"></script>
<script src="/static/js/changepassword.js"></script>
{% endblock %}