{% extends "base.html" %}
    {% block title %}
    Todo List App
    {% endblock %}
    {% block content %}
    {{ super() }}
    	<style>
    		table, th, td {
    			border: 1px ;
   				padding: 5px; }
   			table {
    			border-spacing: 10px;
				}
			tr { border: 1px solid grey; 
				}
			a.td {
				float: right;
				margin-right: 10px ;
				}
			select{
				float: right;
			}
    	</style>
    
        {% include "navbar.html" %}
    
        <div class="container">
            <!--<div class="jumbotron">-->
            <!--<h1>Todo-List App</h1>-->
            <!--<p>-->
            <!--    Welcome to Todo-List app. You can organise your daily tasks with ease-->
            <!--    and make the world a better <strong>place</strong>.-->
            <!--</p>-->
            <!--</div>-->
            <a class="btn btn-primary btn-md" href="/add_task" style="margin-right: 15px">Add a New Task</a></div></br>
            <table class="well col-md-offset-1" style="width: 85%">
            	<tr>
            		<th class="col-md-3">To Do</th>
            		<th class="col-md-3">WIP</th>
            		<th class="col-md-3">Done</th>
            	</tr>
            	<tr>
            		<td>Learn to code<a href="#" class="btn td">Edit</a><a href="#" class="btn td">Delete</a> 
            			<select>
							<option>To Do</option>
							<option>WIP</option>
							<option>Done</option>
						</select></td>
    				<td></td>
    				<td></td>
            	</tr>
            	<tr>
            		<td></td>
    				<td></td>
    				<td>Be Lazy<a href="#" class="btn td">Edit</a><a href="#" class="btn td">Delete</a><select>
							<option>To Do</option>
							<option>WIP</option>
							<option>Done</option>
						</select></td>
            	</tr>
            </table>
            <div class="row">
            </div>
        </div>
    {% endblock %}
    {% block jsfiles %}
    {{ super() }}
    <script src="/static/js/custom.js"></script>
    {% endblock %}