{% extends "base.html" %}
{% block title %}
Todo List App
{% endblock %}
{% block content %}
{% include "navbar.html" %}

<div class="container">
  <form method="POST" action="/add_task" id="taskForm">
    <input type="text" name="title" id='title' class="form-control input-sm chat-input" required="required" placeholder="Describe your new task"></form>
    <button type="submit" class="btn btn-primary btn-md col-md-offset-5">Add a New Task</button>
  </form>
</div>
</br>
<div class="container">
  <div class="container well col-md-4">
    <h4>To Do</h4></br>
    <div class="container">
      {% for task in inbox %}
      {{ task[1] }}<a href="#" class="btn td">Edit</a><a href="#" class="btn td">Delete</a>
      <select>
        <option>To Do</option>
        <option>WIP</option>
        <option>Done</option>
      </select></br>
      {% endfor %}
    </div>
  </div>
  <div class="container well col-md-4">
    <h4>WIP</h4></br>
    <div class="container">
      {% for task in wip %}
      {{ task[1] }}<a href="#" class="btn td">Edit</a><a href="#" class="btn td">Delete</a>
      <select>
        <option>To Do</option>
        <option>WIP</option>
        <option>Done</option>
      </select></br>
      {% endfor %}
    </div>
  </div>
  <div class="container well col-md-4">
    <h4>Done</h4></br>
    <div class="container">
      {% for task in done %}
      {{ task[1] }}<a href="#" class="btn td">Edit</a><a href="#" class="btn td">Delete</a>
      <select>
        <option>To Do</option>
        <option>WIP</option>
        <option>Done</option>
      </select></br>
      {% endfor %}
    </div>
  </div>
</div>

    {% endblock %}
    {% block jsfiles %}
    {{ super() }}
    <script src="/static/js/todolist.js"></script>
    <script src="/static/js/custom.js"></script>
    {% endblock %}
