{% extends "base.html" %} {% block title %} Todo List App {% endblock %} {% block content %} {% include "navbar.html" %} {{ super() }}
<style>
    .form-tasks {
        display: inline-block;
    }
</style>
<div class="container">
    <form action="/add_task" method="POST" id="addTask">
        <input type="text" id="newTodo" name="title" class="form-control input-sm chat-input" placeholder="Describe your new task" required><br>
        <input type="submit" id="addBtn" value="Add a New Task" class="btn btn-primary btn-md col-md-offset-5">
    </form>
</div>
<br>
<div class="container">
    <div class="well col-md-4">
        <h4>To Do</h4> {% for task in inbox %}
        <div class="container">
            <div>{{ task["title"] }}</div>
            <form action="/edit_task" method="POST" class="form-tasks" id="editTask">
                <input type="submit" value="Edit" class="btn td" name="editTask">
                <input type="hidden" value="{{ task['task_id'] }}" name="task_to_edit">
            </form>
            <form action="/delete_task" method="POST" class="form-tasks delete">
                <input type="submit" value="Delete" class="btn td" name="deleteTask">
                <input type="hidden"  value="{{ task['task_id'] }}" name="task_to_delete">
            </form>
            <select>
                <option>To Do</option>
                <option>WIP</option>
                <option>Done</option>
            </select><br>
        </div>
        {% endfor %}
        <span id="newTask"></span><br>
    </div>
    <div class="container well col-md-4">
        <h4>WIP</h4><br> {% for task in wip %}
        <div class="container">
            <div>{{ task["title"] }}</div>
            <form action="/edit_task" method="POST" class="form-tasks">
                <input type="submit" value="Edit" class="btn td" name="editTask">
                <input type="hidden" value="{{ task['task_id'] }}" name="task_to_edit">
            </form>
            <form action="/delete_task" method="POST" class="form-tasks delete">
                <input type="submit" value="Delete" class="btn td" name="deleteTask">
                <input type="hidden" value="{{ task['task_id'] }}" name="task_to_delete">
            </form>
            <select>
                <option>To Do</option>
                <option>WIP</option>
                <option>Done</option>
            </select><br>
        </div> {% endfor %}
    </div>
    <div class="container well col-md-4">
        <h4>Done</h4><br> {% for task in done %}
        <div class="container">
            <div>{{ task["title"] }}</div>
            <form action="/edit_task" method="POST" class="form-tasks">
                <input type="submit" value="Edit" class="btn td" name="editTask">
                <input type="hidden" value="{{ task['task_id'] }}" name="task_to_edit">
            </form>
            <form action="/delete_task" method="POST" class="form-tasks delete">
                <input type="submit" value="Delete" class="btn td" name="deleteTask">
                <input type="hidden" value="{{ task['task_id'] }}" name="task_to_delete">
            </form>
            <select>
                <option>To Do</option>
                <option>WIP</option>
                <option>Done</option>
            </select><br>
        </div> {% endfor %}
    </div>
</div>
{% endblock %} {% block jsfiles %} {{ super() }}
<script src="/static/js/custom.js"></script>
<script src="/static/js/todolist.js"></script>
{% endblock %}